<div class="container">
    {{- if not .IsHome }}
    {{- partial "breadcrumb" . }}
    {{- partial "sections" . }}
    {{- end }}

    <div id="custom_home" class="mt-3">

        <h3 class="text-center">Welcome to the Data Science Lab at Phenikaa University!</h3>
        <article class="card component p-4">
            <div class="row">

                <br/>
                <ul class="p-4">
                    <li>The Amsterdam Machine Learning Lab (AMLab) conducts research in machine learning, artificial
                        intelligence, and its applications to large scale data domains in science and industry. This includes
                        the development of deep generative models, methods for approximate inference, probabilistic programming,
                        Bayesian deep learning, causal inference, reinforcement learning, graph neural networks, and geometric
                        deep learning.</li>
                    <li>The main focus of our research is Automated Machine Learning (AutoML), which includes efficient
                        hyperparameter optimization, neural architecture search, learning to learn, and meta-learning.</li>
                    <li> We also apply AutoML to improve practical deep learning for several applications of high societal
                        importance.</li>
                    <li>While we discuss AutoML in detail on our project webpage AutoML, on this university website we provide
                        information about our publications, teaching, projects, and how to get in touch to start working with
                        us.</li>
                </ul>
            </div>
        </article>


        <div class="col-sm-12">
            <h3 class="header"># Research</h3>
        </div>

        <article class="card component">
            <div class="row">
                <div class="research research-1 col-sm-12 col-md-6">
                    <div class="research-title">
                        <h4>Machine Learning<br/>
                            <small>Information overloaded, dig for interesting patterns!</small></h4>
                    </div>
                    <div class="research-content">
                        - Statistical inference<br/>
                        - Hierarchical learning<br/>
                        - Scalable clustering algorithms<br/>
                    </div>
                </div>

                <div class="research research-1 col-sm-12 col-md-6">
                    <div class="research-title">
                        <h4>Reinforcement Learning<br>
                            <small>No pain no gain, reinforce yourself but efficiently!</small>
                        </h4>
                    </div>
                    <div class="research-content">
                        - Adaptive sampling algorithms<br>
                        - Structured reinforcement learning<br>
                        - Learning to optimize<br>
                    </div>
                </div>

                <div class="research research-2 col-sm-12 col-md-6">
                    <div class="research-title">
                        <h4>Machine Learning with Social Computing<br>
                            <small>ML is everywhere in our society, make it safe and fair!</small>
                        </h4>
                    </div>
                    <div class="research-content">
                        - Crowdsourcing system<br>
                        - Distributed and Federated Learning with Privacy<br>
                        - Social impact of ML<br>
                    </div>
                </div>

                <div class="research research-3 col-sm-12 col-md-6">
                    <div class="research-title">
                        <h4>Graph-Structured Deep Learning<br>
                            <small>Realize the underlying structure of data!</small>
                        </h4>
                    </div>
                    <div class="research-content">
                        - Improving graph neural networks<br>
                        - Drug discovery<br>
                        - Graph generative models<br>
                    </div>
                </div>

                <div class="research research-4 col-sm-12 col-md-6">
                    <div class="research-title">
                        <h4>Large-scale Machine Learning<br>
                            <small>Find the optima efficiently and robustly!</small>
                        </h4>
                    </div>
                    <div class="research-content">
                        - Stochastic and distributed optimization methods<br>
                        - Science of deep learning<br>
                        - Scalable optimization methods<br>
                    </div>
                </div>
            </div>

        </article>


        <h3 class="mt-5"># Recent News</h3>

        <article class="card component p-3">
            <div class="row">
                <div class="news_wrapper col-sm-12">
                    <ul>
                        <li>One of our papers titled “Differentially Private Federated Combinatorial Bandits with Constraints” got accepted in ECML-PKDD 2022</li>
                        <li>Our paper titled “An Autonomous Intelligent Broker for Smart-grids” got accepted in IJCAI, 2022</li>
                        <li>Our paper on “Individual Fairness in Feature-Based Pricing for Monopoly Markets” got accepted in UAI 2022</li>
                        <li>One of our papers titled “Active Learning with BandIt Feedback” got accepted in PAKDD 2022</li>
                        <li>One of our papers on Layered Blockchain protocols got accepted in IEEE ICBC 2022.</li>
                        <li>Three of our papers get accepted in AAMAS 2022</li>
                        <li>Our paper, ‘How Private Is Your RL Policy? An Inverse RL Based Analysis Framework’ got accepted for presentation at AAAI 2022</li>
                        <li>MLL’s Team in collaboration with TCS, VidyutVanika wins the PowerTAC 2021 Tournament</li>
                    </ul>
                </div>
            </div>
        </article>

    </div>

</div>
