<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
	.table_header {
        border-bottom: 1px solid gray;
		border-top: 1px solid gray;
	}
	.table_header > td {
		font-weight: bold;
	}
    .table_tbody tr {
		background: white !important;
	}
    .table_tbody > .table_header {
        background: #f7f8f8 !important;
	}
</style>

{{ range .Site.Data.paper.conferences }}
	<table>
		<tbody class="table_tbody">
			<tr class="table_header">
				<td>ID: {{.id}}</td>
				<td colspan="2"><a href="{{.url_doi}}" target="_blank">{{.title}}</a></td>
			</tr>
			<tr>
				<td>Authors</td>
				<td colspan="2">{{.authors}}</td>
			</tr>
			<tr>
				<td>Conference</td>
				<td colspan="2">{{.conference}}</td>
			</tr>
			<tr>
				<td>Ranking: {{.ranking}}</td>
				<td>Publication Date: {{.pub_date}}</td>
				<td style="float:right">Publisher: {{.publisher}}</td>
			</tr>
			<tr>
				<td>Links:</td>
				<td colspan="2">
					<a href="{{.url_code}}" target="_blank">Code</a>
					<span>--</span>
					<a href="{{.url_latex}}" target="_blank">Latex</a>
					<span>--</span>
					<a href="{{.url_pdf}}" target="_blank">PDF</a>
				</td>
			</tr>
		</tbody>
	</table>
<br>
{{ end }}



