

{{ range .Site.Data.paper.journals }}
<table>
	<tbody class="table_tbody">
	<tr class="table_header">
		<td>ID: {{.id}}</td>
		<td colspan="2"><a href="{{.url_doi}}" target="_blank">{{.title}}</a></td>
	</tr>
	<tr>
		<td>Authors</td>
		<td colspan="2">{{.authors}}</td>
	</tr>
	<tr>
		<td>Journal</td>
		<td colspan="2">{{.journal}}</td>
	</tr>
	<tr>
		<td>Details</td>
		<td>Publication Date: {{.pub_date}}</td>
		<td style="float:right">Publisher: {{.publisher}}</td>
	</tr>
	<tr>
		<td>
			Ranking:
		</td>
		<td>
			<strong>{{.ranking}}</strong>
		</td>
		<td style="float:right">
			 IF = <strong>{{.impact_factor}}</strong> ---- Cite Score = <strong>{{.cite_score}}</strong>
		</td>
	</tr>
	<tr>
		<td>Links:</td>
		<td colspan="2">
			<a href="{{.url_code}}" target="_blank">Code</a>
			<span>--</span>
			<a href="{{.url_latex}}" target="_blank">Latex</a>
			<span>--</span>
			<a href="{{.url_pdf}}" target="_blank">PDF</a>
		</td>
	</tr>
	</tbody>
</table>
<br>
{{ end }}



