<style>
    div, h3, ol, li {
        font-family: arial, sans-serif;
        color: inherit;
    }
    a.main_author {
        color: black;
        font-weight: bold;
        text-decoration: underline;
        cursor: default;
    }
    a.main_title {
        color: #071328;
        font-style: oblique;
    }
    .paper_wrapper {
        padding-bottom: 20px;
    }
</style>

<div id="papers_codes">

    {{ range .Site.Data.paper.years }}
    <div class="year_wrapper">
        <h3>Year: {{.year}}</h3>
        <div class="paper_list_wrapper">
            {{ range $index, $paper := .data }}
                <div class="paper_wrapper">
                    <div class="paper_content">
                        {{ add $index 1}}
                        {{$paper.first_vancouver | safeHTML }}
                        <a href="{{$paper.url_doi}}" target="_blank" class="main_title">{{$paper.title}}.</a>
                        {{$paper.last_vancouver | safeHTML }}
                    </div>
                    <div class="paper_additional">
                        [
                        {{ if eq $paper.magazine_type "journal" }}
                            {{title $paper.magazine_type}} ranked {{$paper.ranking}},
                            IF: {{$paper.impact_factor}}, Cite Score: {{$paper.cite_score}}
                        {{ else if eq $paper.magazine_type "conference" }}
                            {{title $paper.magazine_type}} ranked {{$paper.ranking}}
                        {{ end }}, Get
                        <a href="{{$paper.url_code}}" target="_blank">Code</a>
                        <span>--</span>
                        <a href="{{$paper.url_latex}}" target="_blank">Latex</a>
                        <span>--</span>
                        <a href="{{$paper.url_pdf}}" target="_blank">PDF</a>
                        ]
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
    {{ end }}

</div>

